# Xcode / macOS
.DS_Store
*.swp

# Xcode
build/
DerivedData/
*.xcuserdatad/
**/xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm

# CocoaPods (optional)
Pods/
Podfile.lock  # keep this if not committing Pods/

# Archives & symbols
*.xcarchive
*.ipa
*.dSYM